html { font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont; }

body {
  display: grid;

  margin: 0;
  height: 100%;
  width: 100%;

  grid-template-columns: 220px auto;
  grid-template-rows: 1;
}

h2 {
  margin-bottom: 10px;
}

#calWrapper { width: 100%; }

#calWrapper tr { height: 26px; }

.dayHeader {
  font-size:  10;
  text-transform: uppercase;
}

.dayCell {
  font-size: 12;
  text-align: center;
}

.dayCell.today { border-radius: 50%; color: white; background-color: cornflowerblue; }

#yearHolder { color: cornflowerblue;}

.event {
  width: auto;
    height: fit-content;

    margin-bottom: 10px;
    padding: 10px;

    background-color: cornflowerblue;
    border-radius: 5px;

    color: white;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
  }

  .window-content {
    background-color: #1e1f22;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: black;
  }

  .window-content {
    background-color: #fff;
  }
}