@tailwind base;
@tailwind components;
@tailwind utilities;

.drag { -webkit-app-region: drag; }
.no-drag { -webkit-app-region: no-drag; }

.toolbar {
    display: block;
    position: absolute;

    top: 0;
    height: 38px;
    width: 100vw;

    background-color: transparent;
}